# Python
__pycache__/
*.py[cod]
*.sqlite3
venv/
.venv/

# Django static files
staticfiles/

# Node
node_modules/
frontend/node_modules/
*.log
.expo/
.expo-shared/
.vercel/
frontend/web-build/
.vercel
